# packaging
pip>=9
# utilities
aiortc
typing-extensions
opencv-python-headless
opencv-contrib-python-headless
cvzone
mediapipe
numpy
#streamlit and tensorflow
streamlit-webrtc
streamlit
hydralit_components
pillow
click==7.1.2
